//==============================================================================
// widget_recent_entries
//==============================================================================

&.widget_recent_entries
{
    li
    {
        &:last-child
        {
            border: none;
        }
        
        a
        {
            display: block;
        }

        .post-date
        {
            font-size: 13px;
            opacity: .7;
        }
    }
}