//==============================================================================
// widget_nav_menu
//==============================================================================

&.widget_nav_menu 
{
    div
    {
        ul 
        {                
           li 
            {
                padding: 0;
                border: none;
                text-transform: uppercase;

                ul
                {
                    padding: 8px 16px;
                    
                    li
                    {
                        text-transform: none;
                    }
                }
            }
        }
    }
}