/*  -----------------------------------------------------------------------------------------------
    Headings
    @package v.1.0.0
--------------------------------------------------------------------------------------------------- */

h1
{
	font-size: 48px;
	line-height: 56px;
	
	@include media('<=desktop')
	{
		font-size: 40px;
		line-height: 46px;
	}

	@include media('<=tablet')
	{
		font-size: 32px;
		line-height: 38px;
	}
}

h2
{
	font-size: 36px;
	line-height: 40px;
	
	@include media('<=desktop')
	{
		font-size: 32px;
		line-height: 36px;
	}

	@include media('<=tablet')
	{
		font-size: 28px;
		line-height: 32px;
	}
	
}

h3
{
	font-size: 32px;	
	line-height: 36px;
	
	@include media('<=desktop')
	{
		font-size: 28px;
		line-height: 32px;
	}

	@include media('<=tablet')
	{
		font-size: 24px;
		line-height: 28px;
	}
}

h4
{
	font-size: 28px;	
	line-height: 32px;
	
	@include media('<=desktop')
	{
		font-size: 24px;
		line-height: 28px;
	}

	@include media('<=tablet')
	{
		font-size: 20px;
		line-height: 24px;
	}
}

h5
{
	font-size: 24px;
	line-height: 28px;
	
	@include media('<=desktop')
	{
		font-size: 24px;
		line-height: 28px;
	}

	@include media('<=tablet')
	{
		font-size: 18px;
		line-height: 24px;
	}
}

h6
{
	font-size: 20px;
	line-height: 24px;
	
	@include media('<=desktop')
	{
		font-size: 18px;
		line-height: 24px;
	}

	@include media('<=tablet')
	{
		font-size: 16px;
		line-height: 20px;
	}
}


h1,h2,h3,h4,h5,h6
{
	margin: 24px 0;
}