/*  -----------------------------------------------------------------------------------------------
    Global Variables
    @package v.1.0.0
--------------------------------------------------------------------------------------------------- */

$accent_color                          : #f04e39;
$body_font_size 						: 18px;

// Colors
$white: #FFFFFF;
$black: #121212;
$grey: 	#efefef;

$headings_font	: 'Roboto Condensed';
$body_font		: 'Roboto Condensed';