/*  -----------------------------------------------------------------------------------------------
    Single Format Audio
    @package v.1.0.0
--------------------------------------------------------------------------------------------------- */

&.format-audio
{
	.entry-featured
	{
		display: flex;
		flex-direction: column;
		
		audio
		{
			width: 100%;
		}

		.audio-element
		{
			audio
			{
				display: flex;
			}
		}
	}
}